<div class="menu"><div class="profile"><% if @user == nil %>

<p><%= link_to "Зареєструватися", new_user_path %> | <%= link_to "Зайти", login_path %></p>
<% else %>
<p><%= link_to "Профіль", user_path(@user.id)  %> | <%= link_to "Вихід", user_path(@user.id), method: :delete %></p>
<% end %></div>

<img src="http://avtochehov.ru/wp-content/uploads/2014/09/auto-foto.png" width="30%" class="photo">

<h1 style="text-align: center;">Автомобільний Сервіс</h1>
</div>


<style>
	.profile{
		text-align: right;
		color:red; 
	}

	.photo{

	}

	h1{
		position: absolute;
		top: 110px;
		right: 420px;
		color:;
	}

	body{
		background-image: url(http://dmauto-s.ru/img/wqewqerwer.jpg);
		width: 100%;

	}

</style>


